extends ../name_layout

block content
	.name-detail
	
		.row
			if names
				for name in names
					.col-sm-6.col-md-4.col-lg-4
						p 
							a(href ='/name/' + name.name.toLowerCase()) #{name.name}
						p Ethnic Group Name : #{name.ethnic_group.eyon}
						p Name Gender : #{name.gender.gender}

				else
					p No names available under this gender.