extends ../layouts/name_layout

block content
	.name-detail

		.col-alpha
			p 
				a(href ='/' + eyon + '/name/a') A

		.col-alpha
			p
				a(href ='/' + eyon + '/name/b') B

		.col-alpha
			p
				a(href ='/' + eyon + '/name/c') C

		.col-alpha
			p
				a(href ='/' + eyon + '/name/d') D

		.col-alpha
			p
				a(href ='/' + eyon + '/name/e') E

		.col-alpha
			p
				a(href ='/' + eyon + '/name/f') F

		.col-alpha
			p
				a(href ='/' + eyon + '/name/g') G

		.col-alpha
			p
				a(href ='/' + eyon + '/name/h') H

		.col-alpha
			p
				a(href ='/' + eyon + '/name/i') I

		.col-alpha
			p
				a(href ='/' + eyon + '/name/j') J

		.col-alpha
			p
				a(href ='/' + eyon + '/name/k') K

		.col-alpha
			p
				a(href ='/' + eyon + '/name/l') L

		.col-alpha
			p
				a(href ='/' + eyon + '/name/m') M
		.col-alpha
			p
				a(href ='/' + eyon + '/name/n') N

		.col-alpha
			p
				a(href ='/' + eyon + '/name/o') O

		.col-alpha
			p
				a(href ='/' + eyon + '/name/p') P

		.col-alpha
			p
				a(href ='/' + eyon + '/name/q') Q

		.col-alpha
			p
				a(href ='/' + eyon + '/name/r') R

		.col-alpha
			p
				a(href ='/' + eyon + '/name/s') S

		.col-alpha
			p
				a(href ='/' + eyon + '/name/t') T

		.col-alpha
			p
				a(href ='/' + eyon + '/name/u') U

		.col-alpha
			p
				a(href ='/' + eyon + '/name/v') V

		.col-alpha
			p
				a(href ='/' + eyon + '/name/w') W

		.col-alpha
			p
				a(href ='/' + eyon + '/name/x') X

		.col-alpha
			p
				a(href ='/' + eyon + '/name/y') Y

		.col-alpha
			p
				a(href ='/' + eyon + '/name/z') Z




