extends ../name_layout

block content

		.row
			.col-sm-2
				p 
					a(href ='/' + eyon + '/name/plant/alphabet/a') A

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/b') B

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/c') C

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/d') D

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/e') E

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/f') F

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/g') G

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/h') H

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/i') I

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/j') J

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/k') K

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/l') L

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/m') M
			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/n') N

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/o') O

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/p') P

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/q') Q

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/r') R

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/s') S

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/t') T

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/u') U

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/v') V

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/w') W

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/x') X

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/y') Y

			.col-sm-2
				p
					a(href ='/' + eyon + '/name/plant/alphabet/z') Z




