extends ../layout

block content
	
	.list-posts
		if arts
			for art in arts
				.list-posts-item
					h2
						a(href ='/art/' + art.url) #{art.title}
					p Ethnic Group Name : #{art.ethnic_group.eyon}

			else
				p No Arts available for this ethnic group.