extends ../../art_layout

block content

	.art-delete
		
		form(action =''	, method ='post' , enctype ='application/x-www-form-urlencoded')

			p.del Do you want to delete and remove this art, #{art.title}? 

			button(type ='submit' , title ='Confirm' class ='btn btn-primary float-right px-4') Confirm