extends ../../folktale_layout

block content

	.folktale-delete
		
		form(action =''	, method ='post' , enctype ='application/x-www-form-urlencoded')

			p.del Do you want to delete and remove this folktale, #{folktale.title}? 

			button(type ='submit' , title ='Confirm' class ='btn btn-primary float-right px-4') Confirm