extends ../../photo_layout

block content

	.photo-delete
		
		form(action =''	, method ='post' , enctype ='application/x-www-form-urlencoded')

			p.del Do you want to delete and remove this photo, #{photo.photo}? 

			button(type ='submit' , title ='Confirm' class ='btn btn-primary float-right px-4') Confirm