doctype html
html
	head
		title 
			if title
				| #{title} - 
			| Aye Mi

		link(rel='stylesheet' , href='/stylesheets/boot.css')
		link(rel='stylesheet' , href='/stylesheets/style-s.css')
		link(rel='stylesheet' , href='/stylesheets/awesome.css')
		link(rel='stylesheet' , href='/stylesheets/frola-pk.css')
		link(rel='stylesheet' , href='/stylesheets/frola-style.css')

		meta(name ='viewport' content ='width=device-width , initial-sclae=1')
	body
		.container
			block content

	script(src ='js/jquery-3.3.1.js' type ='text/javascript')
	script(src ='js/frola.js' type ='text/javascript')
	script(src ='js/scriptedit.js' type ='text/javascript')