doctype html
html
	head
		title 
			if title
				| #{title} - 
			| Aye Mi

		link(rel='stylesheet' , href='/stylesheets/boot.css')
		link(rel='stylesheet' , href='/stylesheets/style-s.css')
		meta(name ='viewport' content ='width=device-width , initial-sclae=1')
	body
		.container.py-4

			h1 #{title}
			
			block content


			.footer
				p Copyright &copy; 2019 All Right Reserved.
				p Published by V Enterprise
